* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

header .topbar-header {
    background-color: #313030;
    color: #fff;
}

header .topbar-header ul {
    margin: 0 !important;
    padding-right: 10px;
    display: flex;
    flex-direction: row;

}

header .topbar-header ul li {
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

header .topbar-header ul li a {
    width: 18px;
    line-height: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
}

header .topbar-header .header-html::before {
    content: "";
    height: 14px;
    width: 1px;
    background: #b2b2b2;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -7px;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

header .topbar-header .col-5 {
    display: flex;
    justify-content: start;
}

header .topbar-header .col-5:nth-child(1) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

header .header-html i {
    font-size: 12px;
}

header .header-html {
    border-left: 1px solid white;
    padding-left: 10px;
}

header .header-html span {
    color: white;
    font-size: 14px;
}

header .topbar-header .col-4 {
    justify-content: flex-end;
}

header .col-4 .account {
    padding: 5px;
    color: white;
    font-size: 14px;
    border-right: 1px solid white;
}

header .col-4 .account a {
    color: white;
}

header .language {
    font-size: 14px;
    padding: 5px;
    border-right: 1px solid white;
}

header .currencies {
    font-size: 14px;
    padding: 5px;
}
header .main-header .col-2 img {
    height: auto;
    max-width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-top: -20px;
}

header .main-header .col-8 ul {
    margin-left: 60px;
    margin-top: 20px;
}

header .main-header .col-8 ul li {
    padding: 10px;
    font-size: 14px;
}

header .main-header .col-8 ul li a {
    color: black;
}

header .main-header .col-2 {
    padding: 10px;
    margin-top: 20px;
}

header .main-header .col-2 i {
    font-size: 20px;

}

header .main-header .col-2 a {
    color: black;
    margin-left: 5px;
}

header .main-header .col-2 span {
    margin-top: -30px;
}

#designers {
    margin-top: 50px;
    margin-bottom: 50px;
}

#designers .col-2 a:hover {
    opacity: 0.7;
}

#products {
    margin-top: 50px;
    margin-bottom: 50px;
}

#products p {
    color: #707070;
}

#products .col-lg-3 img {
    max-width: 100%;
    height: auto;
}

#category .col-lg-6 img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
}

#category .col-lg-6 img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

#category .banner-content {
    top: 50%;
    margin-top: -100px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#category .banner-content a {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    min-width: 160px;
    line-height: 50px;
    padding: 0 10px;
    border-radius: 0;
    color: #313030;
    font-size: 16px;
}

#category .banner-content a:hover {
    opacity: 0.9;
}

#offers {
    margin-top: 100px;
    margin-bottom: 100px;
}

#offers p {
    color: #707070;
}

#offers .col-lg-4 img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
}

#offers figcaption .banner-content {
    position: static;
    background: #313131;
    text-align: center;
    padding: 16px 2px;
    line-height: 1.5;
}

#offers figcaption .banner-content p {
    font-size: 22px;
    color: #fff;
}

#offers figcaption .banner-content .banner-text {
    color: rgba(255, 255, 255, .6);
}

#offers a:hover img {
    transform: scale3d(1.05, 1.05, 1.05)
}

#friday {
    background: url('../img/img_banner3_fashion1.webp');
}

#friday .banner-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#friday .banner-content p {
    font-size: 44px;
    color: #313131;
    font-weight: 500;
    line-height: 1;
}

#friday .banner-content .btn {
    border: 2px solid #313131;
    line-height: 42px;
    border-radius: 0;
    padding: 0 37px;
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
    transition: all .3s ease-in-out;
}

#friday .banner-content .btn:hover {
    border-color: #313131;
    background-color: #313131;
    color: #fff;

}

#friday:hover {
    transform: scale3d(1.05, 1.05, 1.05)
}

#look {
    margin-top: 80px;
    margin-bottom: 80px;
}

#look h2 {
    font-family: Jost;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
    text-transform: none;
}

#look p {
    color: #707070;
}

#look img {
    max-width: 100%;
    height: auto;
}

#vasia {
    margin-top: 50px;
    margin-bottom: 50px;
}

#vasia h2 {
    font-family: Jost;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
    text-transform: none;
}

#vasia p {
    color: #707070;
}

#vasia img {
    max-width: 100%;
    height: auto;
}

#vasia .col-4 .instagram {
    background: rgb(255, 255, 255);
    color: rgb(49, 48, 48);
    pointer-events: visible;
    font-size: 18px;
    border-radius: 0;
    line-height: 28px;
    display: inline-block;
    margin-top: -120px;
    vertical-align: top;
    margin-left: 10px;
    zoom: 1;
    padding: 7px 14px;
}

#vasia input {
    height: 51px;
    border: 2px solid #313030;
    padding: 0 15px;
    padding-right: 140px;
    border-radius: 0;
    font-size: 16px;
    color: #8a8a8a;
    width: 100%;
    background: #fff;
}

#vasia form {
    position: relative;
}

#vasia button {
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px;
    border-radius: 0;
    background: #313030;
    position: absolute;
    right: 0;
    border: 0;
    color: white;
    line-height: 51px;
    cursor: pointer;
    top: 0;
}

#vasia .note {
    font-size: 14px;
    line-height: 1.286;
    margin: 26px 0 0;
}

#vasia .note a {
    color: black;
    font-weight: 500;
}

#vasia .note a:hover {
    text-decoration: underline !important;
}

#vasia span span {
    color: #8a8a8a;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

footer {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

footer h5 {
    text-transform: capitalize;
    margin-bottom: 24px;
    pointer-events: none;
    font-family: Jost;
    margin-top: 50px;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
}

footer .col-3 {
    margin-bottom: 50px;
}

footer ul li {
    margin-bottom: 11px;
}

footer ul li a {
    color: #707070;
    transition: all .3s ease-in-out !important;
}

footer ul li a:hover {
    color: #313030;
    border-bottom: 2px solid #313030;
}

footer .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 12px 0;
    font-size: 1.4rem;
    background: #313030;
}

footer .footer-bottom p {
    font-size: 14px;
    color: white;
    line-height: 24px;
}

footer .footer-bottom img {
    max-width: 100%;
    height: auto;
    float: right;
}

/* SHOP-LEFT PAGE */
#page {
    background-image: url('../img/category_image.webp');

}

#page h1 {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-bottom: 12px;
    line-height: 1;
    font-weight: 400;
}

#page .breadcrumpt a {
    color: #707070;
}

#page .breadcrumpt {
    margin-bottom: 150px;
}

/* */
.languages-sub-menu {
    background-color: white;
    position: absolute;
    width: 80px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    top: 30px;
}

.languages-sub-menu ul li a {
    color: #000 !important;
}

.language:hover .languages-sub-menu {
    opacity: 1;
    visibility: visible;
}

.currencies:hover .languages-sub-menu {
    opacity: 1;
    visibility: visible;
}

.languages-sub-menu li:hover {
    background: #f5f5f5;
}

/* shop-left */
#productcategories {
    margin-bottom: 50px;
    margin-top: 50px;
}

#productcategories h5 {
    margin-bottom: 23px;
    text-align: left;
    font-weight: 400;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
}

#productcategories ul {
    border-bottom: 1px solid #dedede;
}

#productcategories ul li {
    margin-bottom: 10px;
}

#productcategories ul li a {
    color: #707070;
}

#productcategories ul li a:hover {
    color: black;
}

#productcategories .btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: top;
    margin-right: 5px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
}

#productcategories .toolbar p {
    margin: 0;
    line-height: 26px;
    border-left: 1px solid #c1c1c1;
    margin-left: 20px;
    color: #212529;
    padding-left: 30px;
}

#productcategories .toolbar .form {
    float: right !important;
    justify-content: right !important;
    margin-left: 200px;
}

#productcategories .toolbar form select {
    height: 26px;
    border: 0;
    font-size: 16px;
    color: #313030;
    border-bottom: 1px solid #313030;
    background: 0 0;
    padding: 0 10px;
    border-radius: 0;
    appearance: none;
    background-image: url('../img/select_arrow.webp');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

#productcategories .col-lg-4 {
    position: relative;
}

#productcategories .col-lg-4 a .image {
    transition: all .3s ease-in-out;
    height: auto;
    margin-top: 30px;
    width: 600px;
    max-width: 100%;
}

#productcategories .col-lg-4 a {
    transition: all .3s ease-in-out;
}

#productcategories .col-lg-4 .hover {
    position: absolute;
    top: 0;
    height: auto;
    visibility: hidden;
    max-width: 100%;
    width: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#productcategories .col-lg-4 a:hover .hover {
    visibility: visible;
}

#productcategories  .quickview {
    background: rgba(255, 255, 255, .9);
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
    color: #707070;
    pointer-events: visible;
    box-shadow: none;
    border: 0;
    margin-top: -20px;
    text-shadow: none;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    visibility: hidden;
    height: auto;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
    transition: all .4s ease-out;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

#productcategories .quickview a {
    color: black;
}

#productcategories .product-image:hover .quickview {
    visibility: visible;

}

#productcategories .col-lg-4 .link {
    margin: 0;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    top: 20px;
    opacity: 1;
    visibility: hidden;
    z-index: 5;
}

#productcategories .col-lg-4 .link a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-color: black;
    padding: 0;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    font-weight: 400;
    color: black;
    display: inline-block;
    vertical-align: top;
}

#productcategories .col-lg-4 .product-image:hover .link {
    visibility: visible;
}

#productcategories .col-lg-4 .link a:hover {
    transform: scale3d(1.1, 1.1, 1.1);

}

#productcategories .col-lg-4 .link .regular:hover .solid {
    visibility: visible;
}

#productcategories .col-lg-4 h6 a {
    color: #7a7a7a;
}

#productcategories .product-price span {
    color: #707070;
}

#productcategories .product-title:hover .col-lg-4 .quickview {
    visibility: visible;
}

#productcategories .product-price .color {
    margin-right: -50px;
}

#productcategories .product-price .blue {
    background-color: #24c4f4;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .other {
    font-size: 0;
    background: url('../img/Other-color3.webp');
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .white {
    font-size: 0;
    width: 12px;
    background: #fff;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .col-lg-4 .select {
    width: auto;
    height: auto;
    padding: 0;
    font-size: 16px;
    visibility: hidden;
    color: #707070;
    border: 0;
    background: 0 0;
    opacity: 1;
}

#productcategories .product-price .color1 {
    background: url('../img/colo1.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .color .color2 {
    background: url('../img/color2.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color3 {
    background: url('../img/color3.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price del {
    color: #707070;
}

#productcategories .product-price .beige {
    background-color: #d5bda3;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .gray {
    background-color: #8f8f8f;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .color4 {
    background: url('../img/color4.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color5 {
    background: url('../img/color5.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color6 {
    background: url('../img/color6.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color7 {
    background: url('../img/color7.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color8 {
    background: url('../img/color8.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .pagination {
    margin-top: 50px;
}

#productcategories .pagination ul li .page {
    color: #fff;
    border-color: #313030;
    display: block;
    height: 44px;
    width: 44px;
    padding: 0;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 42px;
    border-radius: 0;
    background-color: #313030;
    text-decoration: none;
}

#productcategories .pagination ul li .page-numbers {
    color: #313030;
    display: block;
    height: 44px;
    width: 44px;
    padding: 0;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 42px;
    border-radius: 0;
    background-color: #fff;
    text-decoration: none;
}

#productcategories .pagination ul li .page-numbers:hover {
    color: #fff;
    border: 1px solid #313030;
    background-color: #313030;
}

#productcategories .filter {
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}

#productcategories .price-slider {
    background: #d1d1d1 !important;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
    margin: 0 0 15px;
    width: 100%;
    position: relative;
    border-radius: 0 !important;
}

#productcategories .slider-range {
    left: 0%;
    width: 100%;
    background: #000;
    border: none;
    box-shadow: none;
    height: 100%;
}

#productcategories .slider-range span {
    display: flex;
    height: 13px;
    line-height: 13px;
    margin: 0;
    text-align: center;
    top: 50%;
    width: 13px;
    border: 3px solid black;
    position: absolute;
    z-index: 2;
    border-radius: 100%;
    transform: translate(0, -50%);
    cursor: ew-resize;
}

#productcategories .slider-range span:nth-child(1) {
    left: 0%;
}

#productcategories .price-label {
    height: 32px;
    line-height: 32px;
    text-align: left;
    margin-top: 20px;
}

#productcategories .slider-range span:nth-child(2) {
    left: 100%;
}

#productcategories .btn-filter {
    background: #313030;
    box-shadow: none;
    display: block;
    float: right !important;
    height: auto;
    border: 0;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: none;
    margin-top: 20px;
    margin-left: 100px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}

#productcategories .price-amount {
    border-bottom: 1px solid #dedede;
    padding-bottom: 50px;
}

#productcategories .colors {
    margin-top: 100px;
    padding: 0;
}

#productcategories .color-filter {
    position: relative;
}

#productcategories .color-filter li {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 7px 0 !important;
}

#productcategories .color-filter li .filter-swatch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 100%;
}

#productcategories .color-filter li .filter-swatch span {
    width: 22px;
    height: 22px;
    font-size: 0;
    display: block;
    background-size: cover;
    border-radius: 100%;
}

#productcategories .color-filter li .filter-swatch .aquamarine {
    background-color: #458b74;

}

#productcategories .color-filter li .layer-term {
    position: absolute;
    width: 90px;
    background: #fff;
    z-index: 999;
    border: 1px solid #ebebeb;
    padding: 5px;
    text-align: center;
    bottom: calc(100% + 10px);
    left: 10%;
    margin-left: -45px;
    color: #222;
    visibility: hidden;
}

#productcategories .color-filter li .layer-term span {
    width: 100%;
    height: 80px;
    font-size: 0;
    display: block;
    background-size: cover;

}

#productcategories .color-filter li .layer-term .aquamarine {
    background-color: #458b74;
}

#productcategories .color-filter li .layer-term::after {
    border-color: #fff transparent transparent;
    border-width: 7px 7.5px 0;
    left: 37px;
    bottom: -7px;
}

#productcategories .color-filter li .layer-term::before {
    border-color: #ebebeb transparent transparent;
    border-width: 8px 8.5px 0;
    left: 36px;
    bottom: -8px;
}

#productcategories .color-filter .inner a:hover .color-filter li .layer-term {
    visibility: visible;
    opacity: 1;
}

#productcategories .color-filter li .layer-term .beige {
    background-color: #d5bda3;
}

#productcategories .color-filter li .filter-swatch .beige {
    background-color: #d5bda3;
}

#productcategories .color-filter li .layer-term .black {
    background-color: black;
}

#productcategories .color-filter li .filter-swatch .black {
    background-color: black;
}

#productcategories .color-filter li .layer-term .blue {
    background-color: #24c4f4;
}

#productcategories .color-filter li .filter-swatch .blue {
    background-color: #24c4f4;
}

#productcategories .color-filter li .layer-term .coral {
    background-color: #dc9883;
}

#productcategories .color-filter li .filter-swatch .coral {
    background-color: #dc9883;
}
#productcategories .color-filter li .layer-term .darkseagreen {
    background-color: #b4eeb4;
}

#productcategories .color-filter li .filter-swatch .darkseagreen {
    background-color: #b4eeb4;
}
#productcategories .color-filter li .layer-term .gray {
    background-color: #8f8f8f;
}

#productcategories .color-filter li .filter-swatch .gray {
    background-color: #8f8f8f;
}
#productcategories .color-filter li .layer-term .gray23 {
    background-color: #3b3b3b;
}

#productcategories .color-filter li .filter-swatch .gray23 {
    background-color: #3b3b3b;
}
#productcategories .color-filter li .layer-term .NavajoWhite {
    background-color: #d8ac7b;
}

#productcategories .color-filter li .filter-swatch .NavajoWhite {
    background-color: #d8ac7b;
}
#productcategories .color-filter li .layer-term .othercolor1 {
    background: url('../img/Other-color1-1.webp');
    background-size: cover;
}

#productcategories .color-filter li .filter-swatch .othercolor1 {
    background: url('../img/Other-color1-1.webp');
    background-size: cover;
}
#productcategories .color-filter li .layer-term .othercolor2 {
    background: url('../img/othercolor2.webp');
    background-size: cover;
}

#productcategories .color-filter li .filter-swatch .othercolor2 {
    background: url('../img/othercolor2.webp');
    background-size: cover;
}
#productcategories .size{
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
#productcategories .sizes input{
    color: #707070;
    background-color: #707070;
    border-color: #707070;
}
#productcategories .sizes{
border-bottom: 1px solid #dedede;
padding-bottom: 30px;
}
#productcategories .brand{
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
#productcategories .brands{
    color: #707070;
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
}
#productcategories .rating h5{
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
#productcategories .star ul{
    padding: 0;
    margin: 0;
}
#productcategories .star ul li a{
    font-size: 12px;
}
#productcategories .star ul li .black{
    color: black;
}
#productcategories .star ul li .gray{
    color: gray;
}
#productcategories .tags{
    margin-top: 50px;
    margin-bottom: 50px;
}
#productcategories .tags .tag-cloud a{
    display: inline-block;
    font-size: 15px;
    margin: 0 6px 10px 0;
    padding: 0 17px;
    transition: .2s ease;
    line-height: 38px;
    border: 1px solid #ebebeb;
    border-radius: 0;
    text-transform: capitalize;
    vertical-align: top;
    color: #707070;
    text-decoration: none;
}
#productcategories .tags .tag-cloud a:hover{
    color: #fff;
    background-color: black;
}
#products .product-image .hover{
    visibility: hidden;
    position: absolute;
    top: 0;
    height: auto;
    max-width: 100%;
    width: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu img{
    max-width: 100%;
    height: auto;
}
#products .quickview{
    background: rgba(255, 255, 255, .9);
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
    color: #707070;
    pointer-events: visible;
    box-shadow: none;
    border: 0;
    margin-top: -25px;
    text-shadow: none;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    visibility: hidden;
    height: auto;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
    transition: all .4s ease-out;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
#products .col-lg-3 .hover{
    position: absolute;
    top: 0;
    height: auto;
    visibility: hidden;
    max-width: 100%;
    width: 600px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#products .col-lg-3 .image{
    transition: all .3s ease-in-out;
    height: auto;
    margin-top: 30px;
    width: 600px;
    max-width: 100%;
}
#products .col-lg-3 .quickview a{
color: #707070;
}
#products .col-lg-3 a:hover .hover{
    visibility: visible;
}
#products .col-lg-3 .product-image{
    position: relative;
}
#products .col-lg-3 .link .regular:hover .solid {
    visibility: visible;
}
#products .col-lg-3 .link {
    margin: 0;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    top: 20px;
    opacity: 1;
    visibility: hidden;
    z-index: 5;
}

#products .col-lg-3 .link a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-color: black;
    padding: 0;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    font-weight: 400;
    color: black;
    display: inline-block;
    vertical-align: top;
}

#products .col-lg-3 .product-image:hover .link {
    visibility: visible;
}

#products .col-lg-3 .link a:hover {
    transform: scale3d(1.1, 1.1, 1.1);

}
#products .col-lg-3 h6 a {
    color: #7a7a7a;
}

#products .product-price span {
    color: #707070;
}

#products .product-title:hover .col-lg-3 .quickview {
    visibility: visible;
}

#products .product-price .color {
    margin-right: -50px;
}

#products .product-price .blue {
    background-color: #24c4f4;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#products .product-price .other {
    font-size: 0;
    background: url('../img/Other-color3.webp');
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#products .product-price .white {
    font-size: 0;
    width: 12px;
    background: #fff;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#products .col-lg-3 .select {
    width: auto;
    height: auto;
    padding: 0;
    font-size: 16px;
    visibility: hidden;
    color: #707070;
    border: 0;
    background: 0 0;
    opacity: 1;
}
#products .product-price .color1 {
    background: url('../img/colo1.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#products .color .color2 {
    background: url('../img/color2.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#products .product-price .color3 {
    background: url('../img/color3.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}
#products .product-title:hover .col-lg-3 .quickview {
    visibility: visible;
}
#products .product-image:hover .quickview {
    visibility: visible;

}

#products .product-price .color4 {
    background: url('../img/color4.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#products .product-price .color5 {
    background: url('../img/color5.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}
 /* WOMEN'S TSHIRT */
 #tshirt{
    margin-top: 30px;
 }
 #tshirt .breadcrumpt li a{
    color: #707070;
 }
 #tshirt  img{
    max-width: 100%;
    height: auto;
 }
 #tshirt .col-6 video{
    max-width: 100%;
    width: 100%;
    height: 410px;
 }
 #tshirt .col-4 h1{
    font-weight: 400;
    margin-bottom: 2px;
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 35px;
    margin-top: 40px;
 }
 #tshirt .rating{
    font-size: 14px;
 }
 #tshirt .rating a {
    color: black;
 }
 #tshirt p{
    color: #707070;
 }
 #tshirt .price{
    margin-top: 20px;
    color: #707070;
    font-size: 18px;
    display: flex;
    line-height: 1;
    font-weight: 400;
    align-items: center;
    flex-wrap: wrap;
 }
 #tshirt .col-4 .desc{
    padding-bottom: 30px;
    border-bottom: 1px solid #dedede;
 }
 #tshirt .col-4 .size{
    margin-top: 30px;
    background: url('../img/size_chart_icon.webp') left center no-repeat;
    padding-left: 40px;
 }
 #tshirt .col-4 .size a{
    color: #707070;
 }
 #tshirt .col-4 .sizes{
    color: #707070;
    margin-top: 20px;
 }
 #tshirt .col-4 .swatch{
    color: #707070;
    border-color: #ebebeb;
    font-weight: 400;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 34px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    position: relative;
    min-width: 36px;
 }
 #tshirt .col-4 .quantity{
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 0 0 !important;
    border: 2px solid #ebebeb;
    padding: 0 3px;
 }
 #tshirt .col-4 input{
    height: 46px;
    line-height: 46px;
    border: 0;
    font-size: 16px;
    width: 25px;
    padding: 0;
    background-color: transparent;
 }
 #tshirt .col-4 button{
    background-color: #a46497;
    color: #fff;
    vertical-align: middle;
    text-shadow: none;
    text-transform: capitalize;
    text-align: center;
    box-shadow: none;
    border: 0;
    opacity: 0.82;
    height: auto;
    padding: 0 10px !important;
    line-height: 50px !important;
    font-size: 16px !important;
    min-width: 260px;
    margin-top: 10px;
    font-weight: 400;
    overflow: hidden;
    float: right;
    border-radius: 0;
    transition: all .4s ease-out;
 }
 #tshirt .col-4 .wishlist{
    margin-top: 20px;
    color: #707070;
    padding-bottom: 50px;
    border-bottom: 1px solid #dedede;
 }
 #tshirt .col-4 .meta{
    margin-top: 30px;
 }
 #tshirt .col-4 .meta span{
    font-size: 14px;
    color: #707070;
 }
 #tshirt .col-4 .meta a{
    color: black;
 }
 #tshirt .share{
    margin-top: 20px;
 }
 #tshirt .share span{
    margin-right: 20px;
 }
 #tshirt .share ul li  {
    margin-right: 10px;
 }
 #tshirt .share .fa-facebook-f {
    color: #4267B2;
 }
 #tshirt .share .fa-pinterest-p{
    color: #E60023;
 }
 #tshirt .share .fa-twitter{
    color: #1DA1F2;
 }
 #tshirt .share .fa-whatsapp{
    color: #4FCE5D;
 }
 #tshirt .share i:hover{
    color: black;
 }
 #tabs{
    margin-top: 50px;
    margin-bottom: 50px;
 }
 #tabs ul .active a{
    color: #282828;
 }
 #tabs ul .active{
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid #282828;
    padding: 0 !important;
    padding-bottom: 7px !important;
    margin-right: 20px;
    font-weight: 400 !important;
    line-height: 1.3;
 }
 #tabs ul .tabs a{
    color: #888;
 }
 #tabs ul .tabs{
    font-size: 20px;
    color: #888 !important;
    margin-right: 20px;
    display: block;
    text-transform: capitalize;
    position: relative;
    padding: 0 !important;
    padding-bottom: 7px !important;
    transition-timing-function: ease-in-out;
    font-weight: 400 !important;
    line-height: 1.3;
 }
 #tabs ul .tabs:hover{
    border-bottom: 2px solid #282828;
 }
 #tabs ul .tabs:hover  a{
    color: #282828;
 }
 #tabs h4{
    font-weight: 400;
    margin-top: 20px;
 }
 #tabs p{
    color: #707070;
 }
 #tabs h5{
    font-weight: 400;
 }
 #products h2{
    font-weight: 400;
 }
 #tshirt .color{
    margin-top: 30px;
    margin-bottom: 30px;
 }
 #tshirt .color a{
    color: #707070;
 }
/*  
 .fullsize{
    z-index: 9999;
    cursor: zoom-out;
    display: block;
    width: 600px;
    max-width: 600px;
    height: 600px;
    position: fixed;
    left: 100px;
    top:30px;
 } */
 #tshirt .col-2 a img:hover{
opacity: 0.7;
 }
 #tshirt .color .blue{
    background-color: #24c4f4;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
 }
 #tshirt .color .blue::before{
    content: "";
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border: 1px solid #313030;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    pointer-events: none;
 }
 #tshirt .color .PapayaWhip{
    background-color: #e9e1d6;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
 }
 #tshirt .color .PapayaWhip::before{
    content: "";
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border: 1px solid #313030;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    pointer-events: none;
 }
 #tshirt .color .PeachPuff{
    background-color: #e9e1d6;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
 }
 #tshirt .color .PeachPuff::before{
    content: "";
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border: 1px solid #313030;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    pointer-events: none;
 }
 #tabs .col-6 img{
    max-width: 100% ;
    height: auto;
 }
 #tabs iframe{
    max-width: 100%;
    height: 422px;
    width: 750px;
 }
 #slider button.prev{
    position: absolute;
    top: 55%;
    height: 50px;
    line-height: 46px;
    width: 50px;
    padding: 0;
    color: #313030;
    background: 0 0;
    left: 10px;
    z-index: 3;
    opacity: 1;
    border: 2px solid #313030;
    outline: none !important;
    transform: translateY(-50%);
 }
 #slider button.prev:hover{
    background-color: #313030;
    color: white;
    border-color: #313030;
 }
 #slider button.next:hover{
    background-color: #313030;
    color: white;
    border-color: #313030;
 }
 #slider button.next{
    position: absolute;
    top: 55%;
    height: 50px;
    line-height: 46px;
    right: 0;
    width: 50px;
    padding: 0;
    color: #313030;
    background: 0 0;
    z-index: 3;
    opacity: 1;
    border: 2px solid #313030;
    outline: none !important;
    transform: translateY(-50%);
 }
 #tshirt .color .color11 {
    background-image: url('../img/color11.webp');
    font-size: 0;
    width: 30px;
    background-size: cover;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}
#tshirt .color .color12 {
    background-image: url('../img/colo12.webp');
    font-size: 0;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}
#tshirt .variation-price {
    color: #707070;
    margin-top: 10px;
}
#tshirt .stock-count p{
    color: #77a464;
}
#tshirt .sizes a{
    font-size: 12px;
    color: #000;
}
#tabs .disc li{
    list-style-type: disc !important;
    margin-left: 20px;
}

.breadcrumpt ul li  .active{
    color: black !important;
}
#productcategories .breadcrumpt ul{
    border: none;
    margin-bottom: 20px;
    padding: 0;
}
#productcategories .clothing{
    border-bottom: 0;
    border-top: 1px solid #dedede;
    padding-top: 10px;
}
#productcategories .col-9 .title{
    margin-top: 70px;
    font-weight: 400;
    margin-top: 30px;
}
#productcategories .col-9 .category img{
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
#productcategories .expand-content{
    overflow: hidden;
    max-height: 80px;
    position: relative;
    color: #707070;
}
#productcategories .block-expand-overlay{
    background: linear-gradient(to bottom,transparent,rgba(248,248,248,1));
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: visible;
}
#productcategories .block-expand-overlay a{
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    padding-right: 15px;
    padding-left: 15px;
    background: #222;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    width:80px;
    height: 30px;
    font-size: 12px;
}
#subcategories{
    margin-top: 50px;
    margin-bottom: 50px;
}
#subcategories a img{
    border: 2px solid #ebebeb;
    display: inline-block !important;
}
#subcategories .category-summary{
    text-align: center;
    padding: 10px 0 0;
}
#subcategories .category-summary .category-name{
    font-weight: 600;
    color: #313030;
}
#subcategories .category-summary .count-number{
    font-size: 13px;
    color: #707070;
}
#tshirt .zoom{
    position: relative;
    overflow: hidden;
    margin-top: 20px;

}
#tshirt .zoom img{
    position: absolute;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(var(--zoom,1));
    transform-origin: var(--x) var(--y);
    transition: transform 0.3 ease;
}
#tshirt .zoom:hover img{
    --zoom:3;
}
#tshirt .zoom a{
    max-width: 100%;
    width: 100%;
}
header .main-header ul li {
    display: inline-block;
    position: relative;
}
header .main-header ul li a {
    display: block;
    text-align: center;
}
header .main-header ul li ul.dropdown li{
    display: block;
}
header .main-header ul li ul.dropdown{
    width: 100%;
    position: absolute;
    max-width: 100%;
    left: -300px;
    height: auto;
    background-color: #fff;
    z-index: 999;
    display: none;
}
header .main-header ul li:hover ul.dropdown{
display: block;
}
/* SLIDER */
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.carousel{
    width: 98.6vw;
    height: 98.6vh;
    position: relative;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide >img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.slide[data-active] {
opacity: 1;
transition-delay: 0ms;
z-index: 1;
}
.carousel-button{
    position: absolute;
    top: 50%;
    height: 50px;
    line-height: 46px;
    width: 50px;
    padding: 0;
    color: #313030;
    background: 0 0;
    z-index: 3;
    opacity: 1;
    border: 2px solid #313030;
    outline: none !important;
    transform: translateY(-50%);
}
.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 1);
}
.carousel >ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.carousel-button:focus{
    outline: 1px solid black;
}
.carousel-button.prev{
    left: 8px;
}
.carousel-button.next{
    right: 8px;
    margin-right: 15px;
    overflow: hidden;
}
.carousel .title {
    font-size: 80px;
    color: #313030;
    text-transform: capitalize;
    position: absolute;
    line-height: 1;
    margin-bottom: 24px;
    left: 10%;
    top: 40%;
    animation: zoomIn 1.2s linear alternate;
    -webkit-animation: zoomIn 1.2s linear alternate;
}
.carousel .subtitle {
    color: #535252;
    text-transform: none;
    font-size: 18px;
    line-height: 1.3;
    position: absolute;
    top: 56%;
    animation: bounceIn 2s linear alternate;
    -webkit-animation: bounceIn 2s linear alternate;
    left: 10%;
}

.carousel .subtitle::before {
    content: "";
    background: #282828;
    width: 50px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.carousel .btn {
    padding: 10px 37px;
    border: 2px solid #313030;
    text-transform: capitalize;
    background: 0 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
    color: #313030;
    position: absolute;
    left: 10%;
    top: 67%;
}
.carousel .btn:hover {
    opacity: 1;
    background: #313030;
    border-color: #313030;
    color: #fff;
}
/*HEADER */
.mega-dropdown-menu{
    display: none;
    position: absolute;
    top: 75px;
    left: 0 !important;
    margin-left: -300px;
    width: 1300px;
    height: 454px;
    padding: 45px 0 0;
    background-color: #fff;
    top: 100% !important;
    z-index: 10;
}
.mega-dropdown-menu img{
    max-width: 100%;
    height: auto;
}
.main-header ul li:hover .mega-dropdown-menu{
    display: flex;
    animation-name: dropdown;
    animation-duration: .5s;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    top: 85px;
    left: auto;
    border-radius: 0 !important;
    width: 800px ;
    border: none !important;
    height: auto ;
    margin-left: 2% ;
    padding: 35px 15px !important;
  }
  .dropdown-menuu{
    position: absolute;
    right: 0;
    top: 85px;
    left: auto;
    border-radius: 0 !important;
    width: 600px ;
    border: none !important;
    height: auto ;
    margin-left: 2% ;
    padding: 35px 15px !important;
  }
.mega-dropdown-menu .container{
    max-width: 100% !important;
    padding: 0 30px !important;
  }
  /* POPUP */
  .center{
    position: absolute;
    top: 0;
    right: 15%;
    transform: translate((-50%,-50%));
}
.center button i{
    color: #fff;
}
.center button{
    padding: 5px 5px;
    font-size: 12px;
    font-weight: 600;
    color: #f5f5f5;
    background: #313030;
    overflow: hidden;
    border: none !important;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.popup{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .form .login{
    padding: 0;
    list-style: none;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ebebeb;
    text-align: center;
}
.popup .form .login .active{
    flex: 1 1 0;
    position: relative;
}
.popup .form .login .active::after{
    content: "";
    width: 100%;
    left: 0 !important;
    right: 0;
    margin: auto;
    background: #313030;
    position: absolute;
    bottom: -2px;
    height: 2px;
}
.popup .form h2{
    text-align: start;
    color: #222;
    /* margin: 10px 0px 20px; */

    margin-right: 20px;
    font-size: 20px;
}
.popup .form .form-element{
    margin: 15px 0px;
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}
.popup .form .form-element input[type="email"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;

}
.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 0;
    cursor: pointer;

}
.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}
.popup header a img{
    max-width: 100px;
}