* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

header .topbar-header {
    background-color: #313030;
    color: #fff;
}

header .topbar-header ul {
    margin: 0 !important;
    padding-right: 10px;
    display: flex;
    flex-direction: row;

}

header .topbar-header ul li {
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

header .topbar-header ul li a {
    width: 18px;
    line-height: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
}

header .topbar-header .header-html::before {
    content: "";
    height: 14px;
    width: 1px;
    background: #b2b2b2;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -7px;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

header .topbar-header .col-5 {
    display: flex;
    justify-content: start;
}

header .topbar-header .col-5:nth-child(1) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

header .header-html i {
    font-size: 12px;
}

header .header-html {
    border-left: 1px solid white;
    padding-left: 10px;
}

header .header-html span {
    color: white;
    font-size: 14px;
}

header .topbar-header .col-4 {
    justify-content: flex-end;
}

header .col-4 .account {
    padding: 5px;
    color: white;
    font-size: 14px;
    border-right: 1px solid white;
}

header .col-4 .account a {
    color: white;
}

header .language {
    font-size: 14px;
    padding: 5px;
    border-right: 1px solid white;
}

header .currencies {
    font-size: 14px;
    padding: 5px;
}

header .main-header .col-2 img {
    height: auto;
    max-width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-top: -20px;
}

header .main-header .col-8 ul {
    margin-left: 60px;
    margin-top: 20px;
}

header .main-header .col-8 ul li {
    padding: 10px;
    font-size: 14px;
}

header .main-header .col-8 ul li a {
    color: black;
}

header .main-header .col-2 {
    padding: 10px;
    margin-top: 20px;
}

header .main-header .col-2 i {
    font-size: 20px;

}

header .main-header .col-2 a {
    color: black;
    margin-left: 5px;
}

header .main-header .col-2 span {
    margin-top: -30px;
}

#slider {
    background: url('../img/slider1-fashion1.webp');
}

#slider .title {
    font-size: 80px;
    color: #313030;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 24px;
    margin-top: 100px;
}

#slider .subtitle {
    color: #535252;
    text-transform: none;
    font-size: 18px;
    line-height: 1.3;
}

#slider .subtitle::before {
    content: "";
    background: #282828;
    width: 50px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#slider .btn {
    padding: 10px 37px;
    border: 2px solid #313030;
    text-transform: capitalize;
    background: 0 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
    color: #313030;
    margin-top: 50px;
}

#slider .slide-show {
    margin-bottom: 150px;
    margin-top: 50px;
}

#slider .btn:hover {
    opacity: 1;
    background: #313030;
    border-color: #313030;
    color: #fff;
}

#designers {
    margin-top: 50px;
    margin-bottom: 50px;
}

#designers .col-2 a:hover {
    opacity: 0.7;
}

#products {
    margin-top: 50px;
    margin-bottom: 50px;
}

#products p {
    color: #707070;
}

#products .col-3 img {
    max-width: 100%;
    height: auto;
}

#category .col-6 img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
}

#category .col-6 img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

#category .banner-content {
    top: 50%;
    margin-top: -100px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#category .banner-content a {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    min-width: 160px;
    line-height: 50px;
    padding: 0 10px;
    border-radius: 0;
    color: #313030;
    font-size: 16px;
}

#category .banner-content a:hover {
    opacity: 0.9;
}

#offers {
    margin-top: 100px;
    margin-bottom: 100px;
}

#offers p {
    color: #707070;
}

#offers .col-4 img {
    max-width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
}

#offers figcaption .banner-content {
    position: static;
    background: #313131;
    text-align: center;
    padding: 16px 2px;
    line-height: 1.5;
}

#offers figcaption .banner-content p {
    font-size: 22px;
    color: #fff;
}

#offers figcaption .banner-content .banner-text {
    color: rgba(255, 255, 255, .6);
}

#offers a:hover img {
    transform: scale3d(1.05, 1.05, 1.05)
}

#friday {
    background: url('../img/img_banner3_fashion1.webp');
}

#friday .banner-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#friday .banner-content p {
    font-size: 44px;
    color: #313131;
    font-weight: 500;
    line-height: 1;
}

#friday .banner-content .btn {
    border: 2px solid #313131;
    line-height: 42px;
    border-radius: 0;
    padding: 0 37px;
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
    transition: all .3s ease-in-out;
}

#friday .banner-content .btn:hover {
    border-color: #313131;
    background-color: #313131;
    color: #fff;

}

#friday:hover {
    transform: scale3d(1.05, 1.05, 1.05)
}

#look {
    margin-top: 80px;
    margin-bottom: 80px;
}

#look h2 {
    font-family: Jost;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
    text-transform: none;
}

#look p {
    color: #707070;
}

#look .col-6 img {
    max-width: 100%;
    height: auto;
}

#vasia {
    margin-top: 50px;
    margin-bottom: 50px;
}

#vasia h2 {
    font-family: Jost;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
    text-transform: none;
}

#vasia p {
    color: #707070;
}

#vasia img {
    max-width: 100%;
    height: auto;
}

#vasia .col-4 .instagram {
    background: rgb(255, 255, 255);
    color: rgb(49, 48, 48);
    pointer-events: visible;
    font-size: 18px;
    border-radius: 0;
    line-height: 28px;
    display: inline-block;
    margin-top: -120px;
    vertical-align: top;
    margin-left: 10px;
    zoom: 1;
    padding: 7px 14px;
}

#vasia input {
    height: 51px;
    border: 2px solid #313030;
    padding: 0 15px;
    padding-right: 140px;
    border-radius: 0;
    font-size: 16px;
    color: #8a8a8a;
    width: 100%;
    background: #fff;
}

#vasia form {
    position: relative;
}

#vasia button {
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px;
    border-radius: 0;
    background: #313030;
    position: absolute;
    right: 0;
    border: 0;
    color: white;
    line-height: 51px;
    cursor: pointer;
    top: 0;
}

#vasia .note {
    font-size: 14px;
    line-height: 1.286;
    margin: 26px 0 0;
}

#vasia .note a {
    color: black;
    font-weight: 500;
}

#vasia .note a:hover {
    text-decoration: underline !important;
}

#vasia span span {
    color: #8a8a8a;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

footer {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

footer h5 {
    text-transform: capitalize;
    margin-bottom: 24px;
    pointer-events: none;
    font-family: Jost;
    margin-top: 50px;
    line-height: 1.5;
    color: #313030;
    font-weight: 400;
}

footer .col-3 {
    margin-bottom: 50px;
}

footer ul li {
    margin-bottom: 11px;
}

footer ul li a {
    color: #707070;
    transition: all .3s ease-in-out !important;
}

footer ul li a:hover {
    color: #313030;
    border-bottom: 2px solid #313030;
}

footer .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 12px 0;
    font-size: 1.4rem;
    background: #313030;
}

footer .footer-bottom p {
    font-size: 14px;
    color: white;
    line-height: 24px;
}

footer .footer-bottom img {
    max-width: 100%;
    height: auto;
    float: right;
}

/* SHOP-LEFT PAGE */
#page {
    background-image: url('../img/category_image.webp');

}

#page h1 {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-bottom: 12px;
    line-height: 1;
    font-weight: 400;
}

#page .breadcrumpt a {
    color: #707070;
}

#page .breadcrumpt {
    margin-bottom: 150px;
}

/* */
.languages-sub-menu {
    background-color: white;
    position: absolute;
    width: 130px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    top: 30px;
}

.languages-sub-menu ul li a {
    color: #000 !important;
}

.language:hover .languages-sub-menu {
    opacity: 1;
    visibility: visible;
}

.currencies:hover .languages-sub-menu {
    opacity: 1;
    visibility: visible;
}

.languages-sub-menu li:hover {
    background: #f5f5f5;
}

/* shop-left */
#productcategories {
    margin-bottom: 50px;
    margin-top: 50px;
}

#productcategories h5 {
    margin-bottom: 23px;
    text-align: left;
    font-weight: 400;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
}

#productcategories ul {
    border-bottom: 1px solid #dedede;
}

#productcategories ul li {
    margin-bottom: 10px;
}

#productcategories ul li a {
    color: #707070;
}

#productcategories ul li a:hover {
    color: black;
}

#productcategories .btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: top;
    margin-right: 5px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
}

#productcategories .toolbar p {
    margin: 0;
    line-height: 26px;
    border-left: 1px solid #c1c1c1;
    margin-left: 20px;
    color: #212529;
    padding-left: 30px;
}

#productcategories .toolbar .form {
    float: right !important;
    justify-content: right !important;
    margin-left: 200px;
}

#productcategories .toolbar form select {
    height: 26px;
    border: 0;
    font-size: 16px;
    color: #313030;
    border-bottom: 1px solid #313030;
    background: 0 0;
    padding: 0 10px;
    border-radius: 0;
    appearance: none;
    background-image: url('../img/select_arrow.webp');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
}

#productcategories .col-4 {
    position: relative;
}

#productcategories .col-4 a .image {
    transition: all .3s ease-in-out;
    height: auto;
    margin-top: 30px;
    width: 600px;
    max-width: 100%;
}

#productcategories .col-4 a {
    transition: all .3s ease-in-out;
}

#productcategories .col-4 .hover {
    position: absolute;
    top: 0;
    height: auto;
    visibility: hidden;
    max-width: 100%;
    width: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#productcategories .col-4 a:hover .hover {
    visibility: visible;
}

#productcategories .col-4 .quickview {
    background: rgba(255, 255, 255, .9);
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
    color: #707070;
    pointer-events: visible;
    box-shadow: none;
    border: 0;
    margin-top: -20px;
    text-shadow: none;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    visibility: hidden;
    height: auto;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
    transition: all .4s ease-out;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

#productcategories .col-4 .quickview a {
    color: black;
}

#productcategories .col-4 .product-image:hover .quickview {
    visibility: visible;

}

#productcategories .col-4 .link {
    margin: 0;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    top: 20px;
    opacity: 1;
    visibility: hidden;
    z-index: 5;
}

#productcategories .col-4 .link a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-color: black;
    padding: 0;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    font-weight: 400;
    color: black;
    display: inline-block;
    vertical-align: top;
}

#productcategories .col-4 .product-image:hover .link {
    visibility: visible;
}

#productcategories .col-4 .link a:hover {
    transform: scale3d(1.1, 1.1, 1.1);

}

#productcategories .col-4 .link .regular:hover .solid {
    visibility: visible;
}

#productcategories .col-4 h6 a {
    color: #7a7a7a;
}

#productcategories .product-price span {
    color: #707070;
}

#productcategories .product-title:hover .col-4 .quickview {
    visibility: visible;
}

#productcategories .product-price .color {
    margin-right: -50px;
}

#productcategories .product-price .blue {
    background-color: #24c4f4;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .other {
    font-size: 0;
    background: url('../img/Other-color3.webp');
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .white {
    font-size: 0;
    width: 12px;
    background: #fff;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .col-4 .select {
    width: auto;
    height: auto;
    padding: 0;
    font-size: 16px;
    visibility: hidden;
    color: #707070;
    border: 0;
    background: 0 0;
    opacity: 1;
}

#productcategories .product-price .color1 {
    background: url('../img/colo1.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .color .color2 {
    background: url('../img/color2.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color3 {
    background: url('../img/color3.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price del {
    color: #707070;
}

#productcategories .product-price .beige {
    background-color: #d5bda3;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .gray {
    background-color: #8f8f8f;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
}

#productcategories .product-price .color4 {
    background: url('../img/color4.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color5 {
    background: url('../img/color5.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color6 {
    background: url('../img/color6.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color7 {
    background: url('../img/color7.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .product-price .color8 {
    background: url('../img/color8.webp') no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    margin: 3px;
    border-radius: 100%;
    font-size: 0;
    position: relative;
}

#productcategories .pagination {
    margin-top: 50px;
}

#productcategories .pagination ul li .page {
    color: #fff;
    border-color: #313030;
    display: block;
    height: 44px;
    width: 44px;
    padding: 0;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 42px;
    border-radius: 0;
    background-color: #313030;
    text-decoration: none;
}

#productcategories .pagination ul li .page-numbers {
    color: #313030;
    display: block;
    height: 44px;
    width: 44px;
    padding: 0;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 42px;
    border-radius: 0;
    background-color: #fff;
    text-decoration: none;
}

#productcategories .pagination ul li .page-numbers:hover {
    color: #fff;
    border: 1px solid #313030;
    background-color: #313030;
}

#productcategories .filter {
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}

#productcategories .price-slider {
    background: #d1d1d1 !important;
    box-shadow: none;
    cursor: pointer;
    height: 3px;
    margin: 0 0 15px;
    width: 100%;
    position: relative;
    border-radius: 0 !important;
}

#productcategories .slider-range {
    left: 0%;
    width: 100%;
    background: #000;
    border: none;
    box-shadow: none;
    height: 100%;
}

#productcategories .slider-range span {
    display: flex;
    height: 13px;
    line-height: 13px;
    margin: 0;
    text-align: center;
    top: 50%;
    width: 13px;
    border: 3px solid black;
    position: absolute;
    z-index: 2;
    border-radius: 100%;
    transform: translate(0, -50%);
    cursor: ew-resize;
}

#productcategories .slider-range span:nth-child(1) {
    left: 0%;
}

#productcategories .price-label {
    height: 32px;
    line-height: 32px;
    text-align: left;
    margin-top: 20px;
}

#productcategories .slider-range span:nth-child(2) {
    left: 100%;
}

#productcategories .btn-filter {
    background: #313030;
    box-shadow: none;
    display: block;
    float: right !important;
    height: auto;
    border: 0;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: none;
    margin-top: 20px;
    margin-left: 100px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}

#productcategories .price-amount {
    border-bottom: 1px solid #dedede;
    padding-bottom: 50px;
}

#productcategories .colors {
    margin-top: 100px;
    padding: 0;
}

#productcategories .color-filter {
    position: relative;
}

#productcategories .color-filter li {
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 7px 0 !important;
}

#productcategories .color-filter li .filter-swatch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 100%;
}

#productcategories .color-filter li .filter-swatch span {
    width: 22px;
    height: 22px;
    font-size: 0;
    display: block;
    background-size: cover;
    border-radius: 100%;
}

#productcategories .color-filter li .filter-swatch .aquamarine {
    background-color: #458b74;

}

#productcategories .color-filter li .layer-term {
    position: absolute;
    width: 90px;
    background: #fff;
    z-index: 999;
    border: 1px solid #ebebeb;
    padding: 5px;
    text-align: center;
    bottom: calc(100% + 10px);
    left: 10%;
    margin-left: -45px;
    color: #222;
    visibility: hidden;
}

#productcategories .color-filter li .layer-term span {
    width: 100%;
    height: 80px;
    font-size: 0;
    display: block;
    background-size: cover;

}

#productcategories .color-filter li .layer-term .aquamarine {
    background-color: #458b74;
}

#productcategories .color-filter li .layer-term::after {
    border-color: #fff transparent transparent;
    border-width: 7px 7.5px 0;
    left: 37px;
    bottom: -7px;
}

#productcategories .color-filter li .layer-term::before {
    border-color: #ebebeb transparent transparent;
    border-width: 8px 8.5px 0;
    left: 36px;
    bottom: -8px;
}

#productcategories .color-filter .inner a:hover .color-filter li .layer-term {
    visibility: visible;
    opacity: 1;
}

#productcategories .color-filter li .layer-term .beige {
    background-color: #d5bda3;
}

#productcategories .color-filter li .filter-swatch .beige {
    background-color: #d5bda3;
}

#productcategories .color-filter li .layer-term .black {
    background-color: black;
}

#productcategories .color-filter li .filter-swatch .black {
    background-color: black;
}

#productcategories .color-filter li .layer-term .blue {
    background-color: #24c4f4;
}

#productcategories .color-filter li .filter-swatch .blue {
    background-color: #24c4f4;
}

#productcategories .color-filter li .layer-term .coral {
    background-color: #dc9883;
}

#productcategories .color-filter li .filter-swatch .coral {
    background-color: #dc9883;
}
#productcategories .color-filter li .layer-term .darkseagreen {
    background-color: #b4eeb4;
}

#productcategories .color-filter li .filter-swatch .darkseagreen {
    background-color: #b4eeb4;
}
#productcategories .color-filter li .layer-term .gray {
    background-color: #8f8f8f;
}

#productcategories .color-filter li .filter-swatch .gray {
    background-color: #8f8f8f;
}
#productcategories .color-filter li .layer-term .gray23 {
    background-color: #3b3b3b;
}

#productcategories .color-filter li .filter-swatch .gray23 {
    background-color: #3b3b3b;
}
#productcategories .color-filter li .layer-term .NavajoWhite {
    background-color: #d8ac7b;
}

#productcategories .color-filter li .filter-swatch .NavajoWhite {
    background-color: #d8ac7b;
}
#productcategories .color-filter li .layer-term .othercolor1 {
    background: url('../img/Other-color1-1.webp');
    background-size: cover;
}

#productcategories .color-filter li .filter-swatch .othercolor1 {
    background: url('../img/Other-color1-1.webp');
    background-size: cover;
}
#productcategories .color-filter li .layer-term .othercolor2 {
    background: url('../img/othercolor2.webp');
    background-size: cover;
}

#productcategories .color-filter li .filter-swatch .othercolor2 {
    background: url('../img/othercolor2.webp');
    background-size: cover;
}
#productcategories .size{
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
#productcategories .sizes input{
    color: #707070;
    background-color: #707070;
    border-color: #707070;
}
#productcategories .sizes{
border-bottom: 1px solid #dedede;
padding-bottom: 30px;
}
#productcategories .brand{
    margin-bottom: 23px;
    text-align: left;
    position: relative;
    font-style: normal;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 20px;
    padding: 0;
}
#productcategories .brands{
    color: #707070;
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
}